[submodule "official-images"]
	path = official-images
	url = https://github.com/docker-library/official-images.git
[submodule "version-gen"]
	path = version-gen
	url = git@gitlab.com:janiltonmaciel/version-gen.git
